USE [master]
GO
/****** Object:  Database [HotelKamer]    Script Date: 29/10/2022 11:01:49 ******/
CREATE DATABASE [HotelKamer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelKamer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HotelKamer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelKamer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HotelKamer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelKamer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelKamer]
GO
/****** Object:  Table [dbo].[Consumptie]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumptie](
	[ConsumptieID] [int] NOT NULL,
	[BoekingID] [int] NULL,
	[aantal] [int] NULL,
	[PrijsID] [int] NULL,
 CONSTRAINT [PK_Consumptie] PRIMARY KEY CLUSTERED 
(
	[ConsumptieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](50) NULL,
	[Addres] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KamerBoeking]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KamerBoeking](
	[KamerBoekingID] [int] IDENTITY(1,1) NOT NULL,
	[KlantID] [int] NULL,
	[KamerHotelID] [int] NULL,
	[aantalNachten] [int] NULL,
	[StartDag] [date] NULL,
 CONSTRAINT [PK_KamerBoeking] PRIMARY KEY CLUSTERED 
(
	[KamerBoekingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KamerHotel]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KamerHotel](
	[KamerHotelID] [int] NOT NULL,
	[HotelID] [int] NULL,
	[TypeKamerID] [int] NULL,
	[PrijsPerNAcht] [decimal](18, 2) NULL,
 CONSTRAINT [PK_KamerHotel] PRIMARY KEY CLUSTERED 
(
	[KamerHotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klant]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klant](
	[KlantID] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Klant] PRIMARY KEY CLUSTERED 
(
	[KlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MinibarPrijs]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MinibarPrijs](
	[MiniBarPrijsID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[KamerHotelID] [int] NULL,
	[prijs] [decimal](18, 2) NULL,
 CONSTRAINT [PK_MinibarPrijs] PRIMARY KEY CLUSTERED 
(
	[MiniBarPrijsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductOmschrijving] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rekening]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rekening](
	[RekeningID] [int] NOT NULL,
	[BoekingID] [int] NULL,
	[ConsumptieID] [int] NULL,
 CONSTRAINT [PK_Rekening] PRIMARY KEY CLUSTERED 
(
	[RekeningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 29/10/2022 11:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeNaam] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeID] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consumptie]  WITH CHECK ADD  CONSTRAINT [FK_Consumptie_MinibarPrijs] FOREIGN KEY([PrijsID])
REFERENCES [dbo].[MinibarPrijs] ([MiniBarPrijsID])
GO
ALTER TABLE [dbo].[Consumptie] CHECK CONSTRAINT [FK_Consumptie_MinibarPrijs]
GO
ALTER TABLE [dbo].[KamerBoeking]  WITH CHECK ADD  CONSTRAINT [FK_KamerBoeking_KamerHotel] FOREIGN KEY([KamerHotelID])
REFERENCES [dbo].[KamerHotel] ([KamerHotelID])
GO
ALTER TABLE [dbo].[KamerBoeking] CHECK CONSTRAINT [FK_KamerBoeking_KamerHotel]
GO
ALTER TABLE [dbo].[KamerBoeking]  WITH CHECK ADD  CONSTRAINT [FK_KamerBoeking_Klant] FOREIGN KEY([KlantID])
REFERENCES [dbo].[Klant] ([KlantID])
GO
ALTER TABLE [dbo].[KamerBoeking] CHECK CONSTRAINT [FK_KamerBoeking_Klant]
GO
ALTER TABLE [dbo].[KamerHotel]  WITH CHECK ADD  CONSTRAINT [FK_KamerHotel_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotel] ([HotelID])
GO
ALTER TABLE [dbo].[KamerHotel] CHECK CONSTRAINT [FK_KamerHotel_Hotel]
GO
ALTER TABLE [dbo].[KamerHotel]  WITH CHECK ADD  CONSTRAINT [FK_KamerHotel_Type] FOREIGN KEY([TypeKamerID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[KamerHotel] CHECK CONSTRAINT [FK_KamerHotel_Type]
GO
ALTER TABLE [dbo].[MinibarPrijs]  WITH CHECK ADD  CONSTRAINT [FK_MinibarPrijs_KamerHotel] FOREIGN KEY([KamerHotelID])
REFERENCES [dbo].[KamerHotel] ([KamerHotelID])
GO
ALTER TABLE [dbo].[MinibarPrijs] CHECK CONSTRAINT [FK_MinibarPrijs_KamerHotel]
GO
ALTER TABLE [dbo].[MinibarPrijs]  WITH CHECK ADD  CONSTRAINT [FK_MinibarPrijs_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[MinibarPrijs] CHECK CONSTRAINT [FK_MinibarPrijs_Product]
GO
ALTER TABLE [dbo].[Rekening]  WITH CHECK ADD  CONSTRAINT [FK_Rekening_Consumptie] FOREIGN KEY([ConsumptieID])
REFERENCES [dbo].[Consumptie] ([ConsumptieID])
GO
ALTER TABLE [dbo].[Rekening] CHECK CONSTRAINT [FK_Rekening_Consumptie]
GO
ALTER TABLE [dbo].[Rekening]  WITH CHECK ADD  CONSTRAINT [FK_Rekening_KamerBoeking] FOREIGN KEY([BoekingID])
REFERENCES [dbo].[KamerBoeking] ([KamerBoekingID])
GO
ALTER TABLE [dbo].[Rekening] CHECK CONSTRAINT [FK_Rekening_KamerBoeking]
GO
USE [master]
GO
